# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# SQLAlchemy
sql_app.db

# Node.js
node_modules/
dist/
dist-ssr
*.local

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
